<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
{% if topUsers %}
  <h4>Top Users!</h4>
  {%for topuser in topUsers%}
    <li>{{topuser[0]}} {{topuser[1]}} {{topuser[2]}}</li>
  {%endfor%}
{% endif %}


<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if friends %}
<h2> Here are your friends</h2>
<div>
  {% for val in friends : %}
  <p>
    {{val[0]}}, {{val[1]}}<br>
  </p>
  {%endfor%}
</div> 
{% endif %}

{% if photos %}
<h2>Here are all the photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}
        {% if name %}
          <button type="button" onclick=" {{ url_for('deletePhoto', photoid=photo[1] ) }} " >Delete Photo</button>
        {% endif %}
        <br>
        <img width='40px' height="40px" src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
        <br>
        <form method="post" enctype="multipart/form-data" action="/like"> 
                <input type="hidden" name="photo_id" value={{photo[1]}}>
                <input type="submit" value="Like"> 
        </form>
        <br>
        {%if photoLikes %}
          {{photoLikes[loop.index0][0]}} Likes  by 

          {%for like in photoLikes[loop.index0][1] %}
            {{like[0]}} {{like[1]}}, 
          {%endfor%}
        {%endif%}

        {% if comments %}
          {% for comment in comments[loop.index0]%}
            <li>{{comment[0]}}</li>
          {%endfor%}
        {% endif %}

        </li>

        <form method="post" enctype="multipart/form-data" action="/leaveComment"> 
                <input type="text" name="comment_text" required='true'>
                <input type="hidden" name="photo_id" value={{photo[1]}}>
                <input type="submit" value="Add"> 
        </form>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/search'>Search Friend</a> </li>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
