<!doctype html>
<body>
<h4>Search friends</h4>
<form method="post" enctype="multipart/form-data" action="/search">
    <label for="friend">Search friend:</label>
    <input type="text" name="friend_ser" required='true' /><br />
    <input type="submit" value="Search" />
</form>

{% for item in findFriendData %}
    <tr>
        <td> {{item[0]}} {{item[1]}}
            <form method="post" enctype="multipart/form-data" action="/friend"> 
                <input type="hidden" name="first" value={{item[0]}}>
                <input type="hidden" name="fuid" value={{item[2]}}>
                <input type="submit" value="Add"> 
            </form></td> 
        </br>
    </tr>
{% endfor %}

<div>
    <p> Go to <a href='/profile'>profile?</a></p>
</div>

</body>